<div id="<%= dom_id interview %>">
  <p>
    <strong>Doctor name:</strong>
    <%= interview.doctor_id%>
  </p>

  <p>
    <strong>Diagnostic:</strong>
    <%= interview.diagnostic_id %>
  </p>

</div>
