<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Entrevista agendada con éxito</h1>
    <p>
      Tu entrevista ha sido agendada exitosamente con el doctor <%= @doctor.name%>
    </p>
  </body>
</html>